# version: "3.6"
services:
  hasura:
    image: hasura/graphql-engine:v2.36.1
    container_name: hasura
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
      HASURA_GRAPHQL_JWT_SECRET: '{"type":"HS256","key":"super_long_random_secret_key_1234567890abcd"}'  
  express:
    build: ../back-end
    container_name: express
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    environment:
      - HASURA_GRAPHQL_URL=http://hasura:8080/v1/graphql 
      - HASURA_ADMIN_SECRET=myadminsecretkey
      - JWT_SECRET=super_long_random_secret_key_1234567890abcd
      # - DB_HOST=postgres
      # - DB_USER=postgres
      # - DB_PASSWORD=postgres
      # - DB_NAME=postgres
      # - DB_PORT=5432

      #  docker compose -f docker-compose.app.yml -f docker-compose.db.yml up --build